// COLORS VARIABLES 

// Catppuccin-Frappe
$rosewater: #F2D5CF;
$flamingo: #EEBEBE;
$pink: #F4B8E4;
$mauve: #CA9EE6;
$red: #E78284;
$maroon: #EA999C;
$peach: #EF9F76;
$yellow: #E5C890;
$green: #A6D189;
$teal: #81C8BE;
$sky: #99D1DB;
$blue: #8CAAEE;
$sapphire: #85C1DC;
$lavender: #BFB7E4;
$text: #C6CEEF;       //white
$overlay2: #B1B8D7;   //gray2
$overlay1: #9BA2BF;   //gray1
$overlay0: #868CA7;   //gray0
$surface2: #707590;   //black5
$surface1: #5B5F78;   //black4
$surface0: #454960;   //black3
$base2: #303348;      //black2
$base1: #252737;      //black1
$base0: #181A25;      //black0
