// COLORS VARIABLES 

// Catppuccin-Latte
$rosewater: #DE9584;
$flamingo: #DD7878;
$pink: #EC83D0;
$mauve: #8839EF;
$red: #D20F39;
$maroon: #E64553;
$peach: #FE640B;
$yellow: #E49320;
$green: #40A02B;
$teal: #179299;
$sky: #04A5E5;
$blue: #2A6EF5;
$sapphire: #209FB5;
$lavender: #7287FD;
$text: #575279;       //white
$overlay2: #696487;   //gray2
$overlay1: #7B7794;   //gray1
$overlay0: #8E89A2;   //gray0
$surface2: #A09BAF;   //black5
$surface1: #B2AEBD;   //black4
$surface0: #D7D2D8;   //black3
$base2: #FBF7F3;      //black2
$base1: #E9E5E5;      //black1
$base0: #C4C0CA;      //black0
