// COLORS VARIABLES 

// Catppuccin-Moccha
$rosewater: #F5E0DC;
$flamingo: #F2CDCD;
$pink: #F5C2E7;
$mauve: #CBA6F7;
$red: #F38BA8;
$maroon: #EBA0AC;
$peach: #FAB387;
$yellow: #F9E2AF;
$green: #A6E3A1;
$teal: #94E2D5;
$sky: #89DCEB;
$blue: #90C1FB;
$sapphire: #74C7EC;
$lavender: #B4BEFE;
$text: #C6D0F5;       //white
$overlay2: #AEB7D9;   //gray2
$overlay1: #969DBC;   //gray1
$overlay0: #7E84A0;   //gray0
$surface2: #666A83;   //black5
$surface1: #4E5167;   //black4
$surface0: #36374A;   //black3
$base2: #1E1E2E;      //black2
$base1: #12121C;      //black1
$base0: #07070A;      //black0
