// GLOBAL
* {
  all: unset; //Unsets everything so you can style everything from scratch
}

scale trough highlight {
    all: unset;
    background-color: #302D41;
    min-height: 10px;
    min-width: 16px;
    border-radius: 8px;
}

scale trough {
    all: unset;
    background-color: #302D41;
    border-radius: 8px;
    min-height: 10px;
    min-width: 80px;
    margin: 0.6rem;
}

// COLORS VARIABLES (Catppuccin)
$flamingo: #F2CDCD;
$mauve: #DDB6F2;
$pink: #F5C2E7;
$maroon: #E8A2AF;
$red: #F28FAD;
$peach: #F8BD96;
$yellow: #FAE3B0;
$green: #ABE9B3;
$teal: #B5E8E0;
$blue: #96CDFB;
$sky: #89DCEB;
$black0: #161320;
$black1: #1A1826;
$black2: #1E1E2E;
$black3: #302D41;
$black4: #575268;
$gray0: #6E6C7E;
$gray1: #988BA2;
$gray2: #C3BAC6;
$white: #D9E0EE;
$lavender: #C9CBFF;
$rosewater: #F5E0DC;

// MAIN BAR
.bar {
    background-color: $black2;
    padding: 0 0.6rem;
}

// TOOLTIP
tooltip.background {
    background-color: $black2;
    font-family: "Inter Nerd Font";
    font-size: 16;
    border-radius: 5px;
    border: 1px solid $black3;
    color: $white;
}
tooltip label {
    margin: 6px;
    font-family: "Inter Nerd Font";
}

// WORKSPACES
.workspaces button:hover {
  	color: $lavender;
}

.ws-button-mine {
  	color: $lavender;
  	background-color: #1E1E2E;
  	font-size: 22px;
    font-family: "Inter Nerd Font";
}

.ws-button-visible {
  	color: $peach;
  	background-color: #1E1E2E;
  	font-size: 22px;
    font-family: "Inter Nerd Font";
}

.ws-button-busy {
  	color: $gray0;
  	font-size: 22px;
    font-family: "Inter Nerd Font";
}

.ws-button {
  	color: $gray0;
  	font-size: 28px;
    font-family: "Inter Nerd Font";
}

//   POWER MENU WINDOW
.power-icon
{
    color: $red;
    font-family: "Inter Nerd Font";
    font-size: 18px;
    margin: 0px 5px 0px 10px;
}

.lock-btn
{
    color: $green;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.lock-btn:hover
{
    color: $lavender;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.power-btn
{
    color: $red;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.power-btn:hover
{
    color: $lavender;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.restart-btn
{
    color: $mauve;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.restart-btn:hover
{
    color: $white;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.sleep-btn
{
    color: $yellow;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.sleep-btn:hover
{
    color: $lavender;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.logout-btn
{
    color: $blue;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.logout-btn:hover
{
    color: $lavender;
    font-family: "Inter Nerd Font";
    font-size: 30px;
}

.powermenu
{
    background-color: $black2;
    border-radius: 5px;
    border: 3px solid $black3;
}


// SOUND AND MICROPHONE
.volumemicBar trough highlight {
    background-color: $sky;
}

.volumeBar trough highlight {
    background-color: $blue;
}

.muted {
    color: $red;
    font-family: "Inter Nerd Font";
    font-size: 20px;
}

.nomuted {
    color: $blue;    
    font-family: "Inter Nerd Font";
    font-size: 20px;
}

.loud {
    color: $yellow;
    font-family: "Inter Nerd Font";
    font-size: 20px;
}

.micnomuted {
    color: $sky;
    font-family: "Inter Nerd Font";
    font-size: 18px;
}

.micmuted {
    color: $red;
    font-family: "Inter Nerd Font";
    font-size: 18px;
}

// LABEL
.label {
    //font-size: 2rem;
    margin: 0rem 0rem 0rem 0.6rem;
}

// TIME AND DATE
.time, .date {
    margin: 0rem 0.6rem;
    font-family: "Inter Nerd Font";
    font-size: 17px;
    color: $white;
}

// CALENDAR
.cal {
  background-color: $black2;
  font-family: "Inter Nerd Font";
  font-size: 16px;
  font-weight: normal;
  border-radius: 5px;
  border: 3px solid $black3;
  .cal-in {
    padding: 0px 10px 0px 10px;
    .cal {
      &.highlight {
          padding: 20px;
      }
      padding: 5px 5px 5px 5px;
      margin-left: 10px;

    }
  }
}

calendar {
  color: $white;
  font-family: "Inter Nerd Font";
}

calendar:selected {
  color: $black1;
  background-color: $lavender;
  font-family: "Inter Nerd Font";
}

calendar.header {
  color: $white;
  font-weight: bold;
  font-family: "Inter Nerd Font";
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px solid $black2;

}

calendar.button {
  color: $lavender;
  font-family: "Inter Nerd Font";
}

calendar.highlight {
  color: $lavender;
  font-family: "Inter Nerd Font";
  font-weight: bold;
}

calendar:indeterminate {
  color: $gray0;
  font-family: "Inter Nerd Font";
}

// WIFI
.module_essid {
    font-size: 15;
    margin: 0px 10px 0px 0px;
    font-family: "Inter Nerd Font";
}

.module-wifi {
    font-size: 20;
    border-radius: 100%;
    font-family: "Inter Nerd Font";
    margin: 0px 10px 0px 5px;
}

// UPDATES
.module-updates-text {
    font-size: 15;
    font-family: "Inter Nerd Font";
    margin: 0rem 10px 0px 0px;
}

.module-updates-icon {
    font-size: 20;
    font-family: "Inter Nerd Font";
    border-radius: 100%;
    margin: 0rem 0.6rem;
}

// MUSIC BAR
.music-icon {
  margin: 0 0.6rem;
  color: $mauve;
  font-size: 22px;
  font-family: "Inter Nerd Font";
}

.music-title-bar {
  margin: 0 0.6rem;
  color: $mauve;
  font-family: "Inter Nerd Font";
}

.prev-next-icon {
  margin: 0 0.6rem;
  color: $mauve;
  font-size: 18px;
  font-family: "Inter Nerd Font";
}

// MUSIC PLAYER
.player {
  padding: 20px;
  background-color: $black2;
  font-family: "Inter Nerd Font";
  border-radius: 5px;
  border: 3px solid $black3;
}

.player button {
  font-size: 30px;
  font-family: "Inter Nerd Font";
  min-width: 80px;
  background-color: $black3;
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
  transition: all 150ms;
}

.player button:hover {
  background-color: $gray0;
  color: $lavender;
  font-family: "Inter Nerd Font";
}

.musicinfo {
  min-width: 310px;
  min-height: 100px;
  background-color: $black3;
  padding: 15px;
  border-radius: 7px;
  font-family: "Inter Nerd Font";
}

.artimg {
  border-radius: 7px;
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
}

/////////////////  NOT USED ///////////////////

// // BATTERY
// .bat {
//   font-size: 20px;
//   color: $maroon;
//   margin: 0rem 0.6rem;
//   font-family: "Inter Nerd Font";
// }
//
// // BRIGHTNESS
// .brightness-icon {
//   color: $yellow;
//   font-size: 17px;
//   font-family: "Font Awesome 6 Free Solid";
//   margin: 0rem 0.6rem 0rem 0.6rem;
// }
//
// .bribar trough highlight {
//   background-color: $yellow;
//   //border-radius: 5px;
// }

// // POWER MENU BAR
//
// .button-off { 
//     color: $red;
//     font-size: 18px;
//     margin: 0px 5px 0px 0px;
//     font-family: "Inter Nerd Font";
// }
//
// .button-reb, .button-lock, .button-sleep {
//     margin: 0 0.4rem;
// }
//
// .button-reb { 
//     color: $mauve;
//     font-size: 19px;
//     font-family: "Inter Nerd Font";
// }
//
// .button-lock {
//     color: $green;
//     font-size: 18px;
//     font-family: "Inter Nerd Font";
// }
//
// .button-sleep {
//     color: $yellow;
//     font-size: 18px;
//     font-family: "Inter Nerd Font";
// }
//
// .button-logout {
//     color: $maroon;
//     font-size: 18px;
//     font-family: "Inter Nerd Font";
// }

 // // Weather 
 // .weather-details {  
 //     margin: 0 0.6rem;  
 //     color: $white; 
 //     font-family: "Inter Nerd Font"; 
 // } 
 // .weather {
 //     margin: 0rem 0.6rem; 
 //     color: $white; 
 //     font-family: "Inter Nerd Font"; 
 //     font-size: 17px; 
 // } 
 //
 // // CPU BAR 
 // .cpubar { 
 //     color: $blue; 
 //     background-color: $black3; 
 //   	border-radius: 10px; 
 //     margin: 0.6rem; 
 // } 
 //
 // // HDD BAR 
 // .diskbar { 
 //     color: $yellow; 
 //     background-color: $black3; 
 //   	border-radius: 10px; 
 // } 
 //
 // // MEMORY BAR 
 // .membar { 
 //     color: $lavender; 
 //     background-color: $black3; 
 //   	border-radius: 10px; 
 // } 
 // .iconmem { 
 //     color: $rosewater; 
 //     margin: 0.6rem; 
 //     font-size: 0.5rem; 
 // } 
