// COLORS VARIABLES 

// Catppuccin-Mocha
$rosewater: #F5E0DC;
$flamingo: #F2CDCD;
$pink: #F5C2E7;
$mauve: #CBA6F7;
$red: #F38BA8;
$maroon: #EBA0AC;
$peach: #FAB387;
$yellow: #F9E2AF;
$green: #A6E3A1;
$teal: #94E2D5;
$sky: #89DCEB;
$sapphire: #74C7EC;
$blue: #89B4FA;
$lavender: #B4BEFE;
$text: #CDD6F4;       //white
$subtext1: #BAC2DE;
$subtext0: #A6ADC8;
$overlay2: #9399B2;   //gray2
$overlay1: #7F849C;   //gray1
$overlay0: #6C7086;   //gray0
$surface2: #585B70;   //black5
$surface1: #45475A;   //black4
$surface0: #313244;   //black3
$base: #1E1E2E;      //black2 - base2
$mantle: #181825;      //black1 - base1
$crust: #11111B;      //black0 - base0
