// COLORS VARIABLES 

// Catppuccin-Latte
$rosewater: #DC8A78;
$flamingo: #DD7878;
$pink: #EA76CB;
$mauve: #8839EF;
$red: #D20F39;
$maroon: #E64553;
$peach: #FE640B;
$yellow: #DF8E1D;
$green: #40A02B;
$teal: #179299;
$sky: #04A5E5;
$sapphire: #209FB5;
$blue: #1E66F5;
$lavender: #7287FD;
$text: #4C4F69;       //white
$subtext1: #5C5F77;
$subtext0: #6C6F85;
$overlay2: #7C7F93;   //gray2
$overlay1: #8C8FA1;   //gray1
$overlay0: #9CA0B0;   //gray0
$surface2: #ACB0BE;   //black5
$surface1: #BCC0CC;   //black4
$surface0: #CCD0DA;   //black3
$base: #EFF1F5;      //black2
$mantle: #E6E9EF;      //black1
$crust: #DCE0E8;      //black0
