// COLORS VARIABLES 

// Catppuccin-Macchiato
$rosewater: #F4DBD6;
$flamingo: #F0C6C6;
$pink: #F5BDE6;
$mauve: #C6A0F6;
$red: #ED8796;
$maroon: #EE99A0;
$peach: #F5A97F;
$yellow: #EED49F;
$green: #A6DA95;
$teal: #8BD5CA;
$sky: #91D7E3;
$sapphire: #7DC4E4;
$blue: #8AADF4;
$lavender: #B7BDF8;
$text: #CAD3F5;       //white
$subtext1: #B8C0E0;
$subtext0: #A5ADCB;
$overlay2: #939AB7;   //gray2
$overlay1: #8087A2;   //gray1
$overlay0: #6E738D;   //gray0
$surface2: #5B6078;   //black5
$surface1: #494D64;   //black4
$surface0: #363A4F;   //black3
$base: #24273A;      //black2
$mantle: #1E2030;      //black1
$crust: #181926;      //black0
