// COLORS VARIABLES 

// Catppuccin-Frappe
$rosewater: #F2D5CF;
$flamingo: #EEBEBE;
$pink: #F4B8E4;
$mauve: #CA9EE6;
$red: #E78284;
$maroon: #EA999C;
$peach: #EF9F76;
$yellow: #E5C890;
$green: #A6D189;
$teal: #81C8BE;
$sky: #99D1DB;
$sapphire: #85C1DC;
$blue: #8CAAEE;
$lavender: #BABBF1;
$text: #C6D0F5;       //white
$subtext1: #B5BFE2;
$subtext0: #A5ADCE;
$overlay2: #949CBB;   //gray2
$overlay1: #838BA7;   //gray1
$overlay0: #737994;   //gray0
$surface2: #626880;   //black5
$surface1: #51576d;   //black4
$surface0: #414559;   //black3
$base: #303446;      //black2
$mantle: #292C3C;      //black1
$crust: #232634;      //black0
